.iphone {
    margin: 0;
    display: block;
    position: relative;
    background: rgb(232, 231, 230);
    width: 100%;
    height: 734px;
    padding: 2px;
    border: 1px solid rgb(134, 131, 129);
    border-radius: 58px;
    box-shadow: rgb(193, 191, 191) 0 0 0 1px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
.iphone:after {
    content:'';
    width: 4px;
    height: 3px;
    position: absolute;
    top: -1px;
    left: 120px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
.iphone-light-gradient {
    position: absolute;
    width: 100%;
    height: 731px;
    top: 5px;
    right: 5px;
    border-radius: 53px;
    border-radius: 55px \0/IE89;
    background: -webkit-linear-gradient(-155deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.075) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(-155deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.075) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    overflow: hidden;
    z-index: 2;
}
.iphone * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.iphone-power-button {
    height: 4px;
    position: absolute;
    width: 10%;
    background: rgb(0, 0, 0);
    top: -5px;
    left: calc(100% - 30%);
    cursor: pointer;
    background: rgb(204, 204, 204);
    background: -webkit-linear-gradient(left, rgb(150, 147, 145) 0%, rgb(250, 249, 248) 8%, rgb(250, 249, 248) 11%, rgb(172, 170, 168) 15%, rgb(218, 217, 215) 30%, rgb(219, 218, 218) 50%, rgb(218, 217, 215) 80%, rgb(223, 221, 221) 88%, rgb(255, 255, 255) 92%, rgb(233, 232, 231) 95%, rgb(145, 143, 141) 100%);
    background: linear-gradient(to right, rgb(150, 147, 145) 0%, rgb(250, 249, 248) 8%, rgb(250, 249, 248) 11%, rgb(172, 170, 168) 15%, rgb(218, 217, 215) 30%, rgb(219, 218, 218) 50%, rgb(218, 217, 215) 80%, rgb(223, 221, 221) 88%, rgb(255, 255, 255) 92%, rgb(233, 232, 231) 95%, rgb(145, 143, 141) 100%);
    border-radius: 2px 2px 0 0;
    box-shadow: 0 -1px 0 rgba(166, 165, 164, 0.1), 1px 0 0 rgba(166, 165, 164, 0.1), -1px 0 0 rgba(166, 165, 164, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.iphone-voice-toogle {
    background: -webkit-linear-gradient(top, rgb(150, 147, 145) 0%, rgb(250, 249, 248) 8%, rgb(250, 249, 248) 11%, rgb(172, 170, 168) 15%, rgb(218, 217, 215) 30%, rgb(219, 218, 218) 50%, rgb(218, 217, 215) 80%, rgb(223, 221, 221) 88%, rgb(255, 255, 255) 92%, rgb(233, 232, 231) 95%, rgb(145, 143, 141) 100%);
    background: linear-gradient(to bottom, rgb(150, 147, 145) 0%, rgb(250, 249, 248) 8%, rgb(250, 249, 248) 11%, rgb(172, 170, 168) 15%, rgb(218, 217, 215) 30%, rgb(219, 218, 218) 50%, rgb(218, 217, 215) 80%, rgb(223, 221, 221) 88%, rgb(255, 255, 255) 92%, rgb(233, 232, 231) 95%, rgb(145, 143, 141) 100%);
    position: absolute;
    width: 4px;
    height: 34px;
    top: 66px;
    left: -5px;
    border-radius: 1px 0 0 1px;
    box-shadow: rgba(166, 165, 164, 0.1) 0 -1px 0, rgba(166, 165, 164, 0.1) 0 1px 0, rgba(166, 165, 164, 0.1) -1px 0 0, inset rgba(0, 0, 0, 0.25) 1px 0 1px, inset rgba(0, 0, 0, 0.04) 0 -1px 0;
}
.iphone-voice-plus {
    background: -webkit-linear-gradient(top, rgb(80, 77, 75) 0%, rgb(231, 231, 230) 15%, rgb(255, 255, 255) 28%, rgb(255, 255, 255) 34%, rgb(86, 83, 81) 60%, rgb(231, 231, 230) 83%, rgb(137, 134, 132) 98%, rgb(80, 77, 75) 100%);
    background: linear-gradient(to bottom, rgb(80, 77, 75) 0%, rgb(231, 231, 230) 15%, rgb(255, 255, 255) 28%, rgb(255, 255, 255) 34%, rgb(86, 83, 81) 60%, rgb(231, 231, 230) 83%, rgb(137, 134, 132) 98%, rgb(80, 77, 75) 100%);
    position: absolute;
    width: 4px;
    height: 26px;
    top: 144px;
    left: -5px;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 -1px 0 rgba(166, 165, 164, 0.1), 0 1px 0 rgba(166, 165, 164, 0.1), -1px 0 0 rgba(166, 165, 164, 0.1), inset 1px 0 1px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.04);
}
.iphone-voice-minus {
    background: -webkit-linear-gradient(top, rgb(80, 77, 75) 0%, rgb(231, 231, 230) 15%, rgb(255, 255, 255) 28%, rgb(255, 255, 255) 34%, rgb(86, 83, 81) 60%, rgb(231, 231, 230) 83%, rgb(137, 134, 132) 98%, rgb(80, 77, 75) 100%);
    background: linear-gradient(to bottom, rgb(80, 77, 75) 0%, rgb(231, 231, 230) 15%, rgb(255, 255, 255) 28%, rgb(255, 255, 255) 34%, rgb(86, 83, 81) 60%, rgb(231, 231, 230) 83%, rgb(137, 134, 132) 98%, rgb(80, 77, 75) 100%);
    position: absolute;
    width: 4px;
    height: 26px;
    top: 210px;
    left: -5px;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 -1px 0 rgba(166, 165, 164, 0.1), 0 1px 0 rgba(166, 165, 164, 0.1), -1px 0 0 rgba(166, 165, 164, 0.1), inset 1px 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.04);
}
.iphone-camera {
    position: absolute;
    width: 17px;
    height: 17px;
    left: calc(100% - 70%);
    top: 56px;
    overflow: hidden;
    z-index: 1000;
    border-radius: 20px;
    background: -webkit-radial-gradient(35% 35%, ellipse closest-side, rgba(26, 26, 27, 0.1), rgba(44, 43, 45, 0.1) 300%);
    background: radial-gradient(35% 35%, ellipse closest-side, rgba(26, 26, 27, 0.1), rgba(44, 43, 45, 0.1) 300%);
    box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.05), inset 1px 1px 2px rgba(0, 0, 0, 0.2), inset -2px -2px 1px rgba(255, 255, 255, 0.07);
}
.iphone-camera:before {
    content:'';
    position: absolute;
    display: block;
    width: 2px;
    height: 2px;
    top: 7px;
    left: 9px;
    border-radius: 10px;
    z-index: 100;
    background: rgb(43, 93, 144);
    box-shadow: -1px -1px 1px rgb(60, 43, 144), -1px 1px 1px rgb(43, 93, 144), 1px -1px 1px rgb(43, 93, 144), -2px 0 0 3px rgba(0, 0, 0, 0.3);
}
.iphone-camera:after {
    content:'';
    position: absolute;
    display: block;
    width: 7px;
    height: 7px;
    top: 5px;
    left: 5px;
    border-radius: 10px;
    background: -webkit-radial-gradient(35% 35%, ellipse closest-side, rgba(5, 29, 49, 0.5), rgba(43, 93, 144, 0.5) 300%);
    background: radial-gradient(35% 35%, ellipse closest-side, rgba(5, 29, 49, 0.5), rgba(43, 93, 144, 0.5) 300%);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.01);
}
.iphone-dynamic {
    position: absolute;
    width: 20%;
    height: 10px;
    padding: 6px 6px 0 6px;
    overflow: hidden;
    left: calc(100% - 60%);
    top: 57px;
    border-radius: 50px;
    background: -webkit-linear-gradient(top, rgba(20, 20, 21, 0.3), rgba(65, 65, 65, 0.1));
    background: linear-gradient(to bottom, rgba(20, 20, 21, 0.3), rgba(65, 65, 65, 0.1));
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.iphone-dynamic:before {
    content:'';
    position: absolute;
    z-index: 100;
    width: 10px;
    height: 10px;
    top: 8px;
    left: 0px;
    border-radius: 10px;
    background: -webkit-radial-gradient(50% 50%, ellipse closest-side, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 100%);
    background: radial-gradient(50% 50%, ellipse closest-side, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 100%);
    opacity: .8;
}
.iphone-dynamic:before {
    content:'';
    position: absolute;
    z-index: 100;
    width: 10px;
    height: 10px;
    top: 8px;
    left: 0px;
    border-radius: 10px;
    background: -webkit-radial-gradient(50% 50%, ellipse closest-side, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 100%);
    background: radial-gradient(50% 50%, ellipse closest-side, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 100%);
    opacity: .8;
}
.iphone-dynamic:after {
    content:'';
    position: absolute;
    z-index: 1;
    width: calc(100% - 12px);
    height: 7px;
    top: 5px;
    left: 6px;
    border-radius: 10px;
    background: -webkit-linear-gradient(top, rgba(65, 65, 65, 0.5), rgba(255, 255, 255, 0.3));
    background: linear-gradient(to bottom, rgba(65, 65, 65, 0.5), rgba(255, 255, 255, 0.3));
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.3);
}
.iphone-black-bg {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    z-index: 1;
    position: relative;
    border-radius: 56px;
    box-shadow: inset 0 0 0 1px rgb(0, 0, 0), inset 0 0 1px 3px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 0 1px #000, inset 0 0 1px 2px rgba(255, 255, 255, 0.07), inset -1px 0 1px 2px rgba(255, 255, 255, 0.07), inset 1px 0 1px 2px rgba(255, 255, 255, 0.07), inset 0 1px 1px 2px rgba(255, 255, 255, 0.07), inset 0 -1px 1px 2px rgba(255, 255, 255, 0.07) \0/IE89;
}
.iphone-black-bg:after {
    content:'';
    position: absolute;
    width: calc(100% - 44px);
    height: 480px;
    left: 19px;
    top: 121px;
    border: 5px solid rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    overflow: hidden;
    z-index: 2;
    display: block;
}
.iphone-display {
    position: absolute;
    width: calc(100% - 49px);
    height: 480px;
    left: 26px;
    top: 128px;
    z-index: 1002;
    overflow: hidden;
    background: -webkit-linear-gradient(top, rgb(102, 102, 102), rgb(51, 51, 51));
    /* background: linear-gradient(to bottom, rgb(102, 102, 102), rgb(51, 51, 51)); */
}
.iphone-display:after {
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.4) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.4) 100%);
    z-index: 1;
}
.iphone-home {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 637px;
    left: 50%;
    margin-left: -35px;
    overflow: hidden;
    z-index: 105;
    cursor: pointer;
    border-radius: 100px;
    box-shadow: rgba(255, 255, 255, 0.15) 0 0 0 1px, inset rgba(0, 0, 0, 0.25) 0 0 0 1px, inset rgba(0, 0, 0, 0.15) 0 0 20px 1px, inset rgba(255, 255, 255, 0.25) 0 -60px 1px -42px;
    box-shadow: rgba(255, 255, 255, 0.15) 0 0 0 1px, inset rgba(0, 0, 0, 0.25) 0 0 0 1px, inset rgba(0, 0, 0, 0.15) 0 0 20px 1px, inset rgba(255, 255, 255, 0.25) 0 -50px 2px -32px \0/IE89;
}
.iphone-home:after {
    content:'';
    position: absolute;
    width: 21px;
    height: 21px;
    border: 2px solid rgb(163, 164, 163);
    left: 23px;
    top: 23px;
    z-index: 3;
    border-radius: 5px;
}
.iphone:after {
    content:'';
    width: 4px;
    height: 3px;
    position: absolute;
    top: -1px;
    left: 120px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
#maincontainer {
    width: 98%;
    height: 700px;
}